@import "layout.scss";
@import "animate.scss";

$fontSize: 16px;
$foreColor: #efefef;
$blue0: #3692c5;
$blue1: #3283b0;

@mixin v-center{
    /*w, h required*/
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

@mixin bubble{
    background-color: $foreColor;
    position: absolute;
    border-radius: 50%;
}

@mixin bloc-h1{
    text-align: center;
    padding: 2em;
    font-size: 24px;
}

body{
    font-size: $fontSize;
    color: $foreColor;
    line-height: 1.42857142857;
}

p{
    margin: 1em;
}

main{
    #s-1{
        background: linear-gradient($blue0 30%, $blue1 0%);
    
        #heading{
            height: 30%;
            width: 100%;

            h1{
                @include v-center;
                font-size: 3rem;
                font-family: monospace, Monospace;
                height: 4.285714286rem;
                width: 100%;
                text-align: center;
            }
        }
        #brief{
            height: 10%;
            width: 100%;

            h3{
                @include v-center;
                font-size: 1rem;
                height: 1.428571429rem;
                width: 100%;
                padding: 0 1rem;
                text-align: right;
                font-weight:normal;
            }
        }
        #start{
            height: 40%;
            width: 100%;

            p{
                @include v-center;
                height: 2.514285714rem;
                font-size: 1.2rem;
                width: 100%;
                text-align: center;
            }
            span{
                display: inline-block;
                border: 2px solid #ededed;
                padding: .4rem 2rem;

                &:hover{
                    background: #ececec;
                    color: #3283b0;
                }
            }
        }
    }
    #s-2{
        background-color: deeppink;

        .bloc h1{
            @include bloc-h1;
        }
    }
    #s-3{
        background-color: $blue0;

        #steps h1{
            @include bloc-h1;
        }
        #bub1{
            @include bubble;
            width: 200px;
            height: 200px;
            bottom: -80px;
            left: -60px;
        }
        #bub2{
            @include bubble;
            width: 300px;
            height: 300px;
            bottom: -220px;
            left: 80px;
        }
        #bub3{
            @include bubble;
            width: 200px;
            height: 200px;
            bottom: -80px;
            right: -60px;
        }
    }
    #s-4{
        background-color: slategray;
    }
}