*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, .smooth, .stage{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}
.smooth{
    transform: translateX(100%)
}
.smooth.show{
    transform: translateX(0)
}
.stage{
    position: absolute;
    overflow: hidden;
    
    .bloc{
        position: relative;
    }
}