@import "./anima.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}
html,body,main,section.stage{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}
section.stage{
    position: absolute;
    transform: translateX(100%);
    opacity: 0;
}
section.stage .bloc{
    text-align: center;
    opacity: 0;
}
#s-1{
    background: indianred;
}
#s-2{
    background: darkslategrey;
}
#s-3{
    background: rebeccapurple;
}
#s-4{
    background: chocolate;
}