@import "./anima.css";
@import "./ppt.css";

.stage{
    padding: 1em;
    color: #ebebeb;
    font-family: Arial, Helvetica, sans-serif
}
#s-1{
    background: indianred;
}
#s-2{
    background: darkslategrey;
}
#s-3{
    background: rebeccapurple;
}
#s-4{
    background: chocolate;
}