*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,main,section.stage{
    height: 100%;
    width: 100%;
}
body{
    overflow: hidden;
}
section.stage{
    position: absolute;
    transform: translateX(100%);
    opacity: 0;
}
section.stage .bloc{
    position: relative;
    opacity: 0;
}